@use "../../styles/common/variables" as var;

.chart-list {
  display: flex;
  gap: 40px;
}

.chart-container {
  width: 100%;
  height: 300px;
  background: var.$surface-light;
  border: 1px solid var.$border-light;
  border-radius: var.$border-radius-lg;
  padding: 20px;

  body.dark-mode & {
    background: var.$surface-dark;
    border-color: var.$border-dark;
  }
}