@use "../../styles/common/variables" as var;
@use "../../styles/common/mixins" as mix;

.home {
  @include mix.padding-container;

  &__content {
    height: 450px;
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    gap: 40px;

    @media (max-width: var.$tablet-breakpoint) {
      flex-direction: column;
      height: auto;
      gap: 32px;
    }

    &-block {
      flex: 1;
      min-width: 0;
      display: flex;
      flex-direction: column;
      gap: 16px;
      height: 100%;
      min-height: 0;

      h3 {
        margin: 0;
        flex-shrink: 0;
      }

      & > *:not(h3) {
        flex-grow: 1;
        overflow-y: auto;
        min-height: 0;

        &::-webkit-scrollbar { width: 4px; }
        &::-webkit-scrollbar-thumb {
          background: rgba(0, 0, 0, 0.1);
          border-radius: 10px;
        }
      }

      @media (max-width: var.$tablet-breakpoint) {
        height: 400px;
      }
    }
  }
}