@use "./partial/header.scss";
@use "./partial/menu.scss";

@use "./pages/login.scss";
@use "./pages/home.scss";
@use "./pages/profile.scss";
@use "./pages/plan.scss";

@use "./components/topbar.scss";
@use "./components/card-list.scss";
@use "./components/plan-list.scss";
@use "./components/chart-list.scss";
@use "./components/add-form.scss";
@use "./components/plan-form.scss";
