@use "./partial/header.scss";
@use "./partial/menu.scss";

@use "./pages/login.scss";
@use "./pages/home.scss";
@use "./pages/profile.scss";

@use "./components/topbar.scss";
@use "./components/add-form.scss";